<%= link_to 'All Chores',chores_path %>
<h1>
    <%= @chore.title %>
</h1>

<p>
    <%= @chore.description %>
</p>

<ul>
<li>
<%= link_to "Edit",edit_chore_path(@chore) %>
</li>
<li>
<%= link_to "Destroy", chore_path(@chore), data: {
    turbo_method: "delete",
    turbo_confirm: "Are you sure?"
} %>
</li>

</ul>
